/*Main Header*/

.main-header {
    background: rgba(245, 247, 250, 1);

    padding: 25px 110px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 154.49px;
    height: 24px;
}

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;

    justify-content: center;
    flex-wrap: center;
    gap: 50px;
}

.main-nav a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgba(24, 25, 31, 1);
    text-decoration: none;
}

.login{
    display: flex;

    gap: 14px;
}

.login-button {
    background-color: rgba(245, 247, 250, 1);
    color: rgba(76, 175, 79, 1);
    padding: 10px 20px;
    border: none;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: 71px;
    height: 40px; 
    text-align: center; 
}

.sign-button {
    background-color: rgba(76, 175, 79, 1);
    color: rgba(245, 247, 250, 1);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;

    width: 91px;
    height: 40px; 
    text-align: center; 
}

/* Footer */

.footer-content {
    background-color: rgba(38, 50, 56, 1);

    padding: 40px 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2.5fr repeat(3, 1fr);
    gap: 30px;

    margin: 0 80px;
}

.logo-footer {
    width: 191px;
    height: 29.67px;

    margin-left: 90px;
    margin-top: 50px;
}

.branding-text {
    font-family: "Inter Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;

    color: rgba(245, 247, 250, 1);

    margin-left: 90px;
}

.social-icons {
    margin-left: 90px;
}

.social-icons a{
    color: rgba(255, 255, 255, 1);
    width: 32px;
    height: 32px;
}

.column-title {
    font-family: "Inter SemiBold";
    font-size: 20px;
    font-weight: 600;

    color: rgba(255, 255, 255, 1);
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    text-decoration: none;
    color: rgba(245, 247, 250, 1);

    font-family: "Inter Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.newsletter-form input {
    width: 80%;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;

    background-color: rgb(74, 75, 88);

    font-family: "Inter Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;

    color: rgba(217, 219, 225, 1);
}

